.NavigationBar{
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(73, 183, 168);
  display: flex;
  margin: auto;
  width: 60%;
}
.navigationLinks {
  display: flex;
  align-items: center;
  padding-left: 5%;
  text-decoration: none;
  margin: auto;
}

.BodyCenter {
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  margin: auto;
  width: 60%;
  height: 100%;

}

th {
  font-size: 22px;
}


.rows {
  cursor: pointer;
}

.rows td {
  padding: 12px 16px;
}

table {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  min-height: 100%;
  margin: auto;
}
ul
{
  list-style-type: none;
  gap: 10%;
  width: 30%;
  
}
.individualElem {
  background-color:  rgb(73, 183, 168);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  color: black;
}



.NoData {
  display: flex;
  justify-content: center;   /* horizontal */
  align-items: center;       /* vertical */
  height: 100vh;
}

h1 {
  justify-content: center;
  text-align: center;
}

.ButtonDis {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  
  display: inline-block;
}

.dropdownSeasons {
  display: none;
  min-width: 120px;
  max-height: 100px;
  overflow: scroll;
}

.dropdownSeasons label {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;


}

.dropdownSeasons label:hover {background-color: #ddd;}

.dropdown:hover .dropdownSeasons {display: block;}

.FindSeason {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  
}

.SearchBar {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  height:  40px;
}

.Bar {
  padding: 5px;
}