.NavigationBar{
 background-color: red;
 display: flex;
 justify-content: center;
}
.navigationLinks {
  display: flex;
  align-items: center;
  padding-left: 5%;
   text-decoration: none;
}
ul
{
  list-style-type: none;
  gap: 10%;
  width: 30%;
  
}
.individualElem {
  background-color: chartreuse;
  padding: 14px 25px;
  text-align: center;
 
}


.individualElem:hover {
  background-color: rgb(190, 61, 38);
  padding: 14px 25px;
  text-align: center;
}


h1 {
justify-content: center;
}
